
  @import url('https://fonts.googleapis.com/css2?family=Jost:wght@100;200;300;400&display=swap');

body{
background-color: #E7E7E7;
font-family: jost;
font-weight: 100;
color: #424242;
}

p{
font-weight: normal;
font-family:'Inconsolata';
font-size: 12px;
margin: 20px;
margin-left: 30vw;
padding: 0px;
}

button{
  transition: all 100ms ease-in-out;
  font-size: 20px;
  background-color: #E7E7E7;
  color: #424242;
  border-color: #424242;
  border: 2px solid;
  border-radius: 10px;
  font-family: jost;
  padding-left: 15px;
  padding-right: 15px;
}

.was-clicked1{
  background-color: #E7E7E7;
  color: #E14321;
  border-color: #E14321;
}

.was-clicked2{
  background-color: #424242;
  color: #E7E7E7;
  border-color: #E7E7E7;
}
