
body{
  background-color: #E9E9E9;
  text-align: center;
  font-family:Inconsolata;
  color: #4D4D4E;
}

p{
  font-weight: normal;
  text-align: center;
  font-size: 12px;
}

h1{
  font-size: 36px;
}

h2{
  font-size: 24px;
}

h3{
  font-size: 24px;
  font-weight: lighter;
}

h4{
  font-size: 20px;
  font-weight: lighter;
}

h5{
  font-size: 16px;
}

h6{
  font-size: 14px;
}

ul{
  list-style-type: circle;
  font-size: 12px;
}

ol{
  list-style-type: circle;
  font-size: 12px;
}

a:link{
  color: #AFC2A4;
  font-weight:lighter;
  font-size: 12px;
}

a:visited{
  color: #CBA135;
  font-size: 12px;
}

a:hover{
  color: #AFC2A4;
  font-weight: bold;
  font-size: 12px;
}
