
/* THIS IS MY MAIN STYLE SHEET */

  @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inconsolata:wght@300;400;600&family=Roboto&display=swap');
  /*
  @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Unica+One&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Bungee+Hairline&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@100;300&family=Dosis:wght@200&family=Jost:wght@100&family=Montserrat:wght@100;200&family=Poiret+One&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Jost:wght@200;300&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Jost&display=swap');
  */
  @import url('https://fonts.googleapis.com/css2?family=Jost:wght@100;200;300;400&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300;400;600;700&display=swap');
  /* jost is good
  dosis eh
  big shoulders display no
  Montserrat good
  */

  *{
    margin:0;
    margin-left: 0px;
    padding: 0px;
  }

  .index body{
    background-color: #E7E7E7;
    text-align: right;
    font-family: jost;
    font-weight: 100;
    color: #424242;
    margin: 0px;
    margin-left: 0px;
    /* padding: 40px; */
  }

    body{
    background-color: #E7E7E7;
    font-family: jost;
    font-weight: 100;
    color: #424242;
    margin: 0px;
    margin-left: 0px;
    padding: 0px;
    /* padding: 40px; */
  }

  p{
    font-weight: normal;
    font-family:'Inconsolata';
    font-size: 14px;
    margin: 20px;
    margin-left: 30vw;
    padding: 0px;
  }

  .index p{
    font-weight: normal;
    font-family:'Inconsolata';
    font-size: 14px;
    margin: 20px;
    margin-left: 30vw;
    text-align: right;
  }

  .projects_new p{
    font-weight: normal;
    font-family:'Inconsolata';
    font-size: 14px;
    margin-left: 1vw;
    position:relative;
    width: 60vw;
    float: right;
    padding: 0px;
  }

  h1{
    font-size: 48px;
    font-weight: 200;
    margin: 20px;
    margin-left: 30vw;
  }

  .index h1{
    font-size: 48px;
    font-weight: 200;
    margin: 20px;
    text-align: right;
    padding-left: 0px;
  }

  .projects h1{
    font-size: 48px;
    font-weight: 200;
    margin: 20px;
    margin-left: 30vw;
  }

  h2{
    font-size: 36px;
    font-weight: 200;
    margin: 20px;
    margin-left: 30vw;
  }

  .index h2{
    font-size: 36px;
    font-weight: 200;
    margin: 20px;
    margin-left: 30vw;
    text-align: right;
  }

  .projects h2{
    font-size: 36px;
    font-weight: 200;
    margin: 20px;
  }

  h3{
    font-size: 24px;
    font-weight: 200;
    margin: 20px;
    margin-left: 30vw;
  }

  .index h3{
    font-size: 24px;
    font-weight: 200;
    margin: 20px;
    margin-left: 30vw;
    text-align: right;
  }

  h4{
    font-size: 18px;
    font-weight: 200;
    margin: 20px;
    margin-left: 30vw;
  }

  .index h4{
    font-size: 18px;
    font-weight: 200;
    margin: 20px;
    margin-left: 30vw;
    text-align: right;
  }

  h5{
    font-size: 16px;
    font-weight: 200;
    margin: 10px;
    margin-left: 30vw;
    font-family: Inconsolata;
  }

  .index h5{
    font-size: 16px;
    font-weight: 200;
    margin: 10px;
    margin-left: 30vw;
    text-align: right;
  }

  h6{
    font-size: 14px;
    font-weight: 200;
    margin: 10px;
    margin-left: 30vw;
  }

  .index h6{
    font-size: 14px;
    font-weight: 200;
    margin: 10px;
    margin-left: 30vw;
    text-align: right;
  }

  ul{
    list-style-type: disc;
    font-size: 14px;
    list-style-position: inside;
    font-family:'Inconsolata';
  }

  ol{
    font-size: 12px;
    list-style-position: inside;
    font-family:'Inconsolata';
  }

  a:link{
    color: #E14321;
    font-weight:lighter;
    font-size: 14px;
    font-family:'Inconsolata';
    margin-left: 30vw;
    padding: 0px;
  }

  a:visited{
    color: #E14321;
    font-weight:lighter;
    font-family:'Inconsolata';
    margin-left: 30vw;
    padding: 0px;
  }

  a:hover{
    color: #E14321;
    font-weight: bold;
    font-family:'Inconsolata';
    margin-left: 30vw;
    padding: 0px;
  }

  hr{
    font-weight: 400;
  }

  .projects hr{
    font-weight: 400;
    border-top: 5px;
    border-color: #E14321;
    width: 95vw;
    margin:auto;
  }

  .projects img{
    width: 25vw;
    margin: 5px;
    margin-left: 3vw;
  }

  .vl-index {
    border-right: 3px #E14321 solid;
    padding-right: 35px;
    margin-top: 40px;
    height:80vh;
    width: 85vw;
    vertical-align: baseline;
    /* width: 33vw; */
  }

  .ba-index{
        position: absolute;
        bottom: 10vh;
        width: 85vw;
  }

  .vl-all {
    border-right: 3px #E14321 solid;
    padding-right: 35px;
    margin-top: 40px;
    height:80vh;
    width: 25vw;
    vertical-align: baseline;
    /* width: 33vw; */
  }

  .vl-proj {
    border-right: 3px #E14321 solid;
    padding-right: 35px;
    margin-top: 40px;
    height:155vh;
    width: 25vw;
    vertical-align: baseline;
    position: absolute;
    top: 90px;
    /* width: 33vw; */
  }

  .ba-all{
        position: absolute;
        bottom: 5vh;
        width: 75vw;
  }

  .mast {
   display: flex;
   gap: 1em;
   font-size: 18px;
   margin: 0px;
   margin-left: 0px;
   text-align: center;
   padding: 0px;
   z-index: 10;
  }

  .mast li {
   padding: 5px 14px;
   margin: 0px;
   text-align: center;
   list-style: none;
   color: #E7E7E7;
   margin-left: 0px;
  }

  .mast a{
    text-decoration: none;
    color: #E7E7E7;
    margin-left: 0px;
    font-weight: 400;
  }

  .mast a:hover{
    text-decoration: none;
    color: #E7E7E7;
    margin-left: 0px;
    font-weight: 900;
  }

  /* DROPDOWN MENU */
  .dropdown {
   background-color: #E14321;
   padding: 1em 0;
   position: absolute; /*WITH RESPECT TO PARENT*/
   display: none;
   border-radius: 8px;
   top: 35px;
   text-align: center;

  }
  .dropdown li {
   padding: 0.5em 1em;
   width: 8em;
   text-align: center;
  }

  /*RESPONSIVE NAVBAR MENU STARTS*/
.navbar{
  z-index: 10;
  position: relative;
}
  /* CHECKBOX HACK */
  input[type=checkbox]{
   display: none;
  }
  /*HAMBURGER MENU*/
  .icon {
     display: none;
     font-size: 24px;
     user-select: none;
     text-align: center;
     background-color: #E14321;
     color: #E7E7E7;
     padding: 10px;
     padding-top: 20px;
  }

  .project{
      position: relative;
      top: 92px;
  }

  .projBox {
    margin-left: 30vw;
    display: inline-block;
  }

  .proj{
    margin-bottom: 50px;
  }

  .proj img{
    width: 172px;
    display: inline-block;
    position: absolute;
  }

  .proj p{
    display: inline-block;
    margin-left: 0px;
    padding-left: 200px;
  }

  .movies *{
    padding: 0px;
    margin: 0px;
    margin-top: 20px;
    text-align:center;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .buttonWrap{
    flex-grow: 1;
  }
  #button-1{
    transition: all 100ms ease-in-out;
    border-color: #424242;
    font-family: jost;
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
    color: #424242;
    font-size: 20px;
    border: 2px solid;
    border-radius: 10px;
    background-color: #E7E7E7;
    transition-duration: 0.4s;
  }

  #button-1:hover {
    background-color: #E14321;
    font-weight: 600;
    color: #E7E7E7;
    cursor:pointer;
  }

  #button-1:active {
    background-color: #E14321;
    color: #E7E7E7;
    transform: translateY(2px);
  }

  .buttons{
    border-color: #424242;
    font-family: jost;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    color: #424242;
    font-size: 14px;
    border: 1px solid;
    border-radius: 10px;
    background-color: #E7E7E7;
    margin: 5px;
  }

  .buttons-clicked{
    background-color: #E14321;
    color: #E7E7E7;
  }

  /* input{
    border-color: #424242;
    font-family: inconsolata;
    padding:5px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    color: #424242;
    font-size: 4;
    border: 2px solid;
    border-radius: 10px;
    background-color: #E7E7E7;
    margin: 0px;
  }

  .dropdowns{
    display: inline-block;
    position: absolute;
  } */

  .generateWrap{
    text-align: center;
    display: block;
    background-color: #424242;
    color: #E7E7E7;
    padding-bottom: 20px;
    margin-left: 30vw;
    margin-right: 30vw;
    border-radius: 30px;
  }

  .generateWrap p{
    padding: 0px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 0px;
  }

  .generateWrap h2{
    padding: 0px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 0px;
    margin-top: 20px;
    font-family: inconsolata;
  }

  .generateLine1{
      padding: 0px;
      margin: 0px;
  }

  .generateLine2{
      padding: 0px;
      margin: 0px;
  }

  .generateLine3{
      padding: 0px;
      margin: 0px;
  }

  /*////////////////////////////////////////////////////////////////////////*/
  @media (max-width: 599px) {
      .mast {
         display: none;
         align-items: center;
         justify-content: space-between;
         padding-top: 20px;
         padding-bottom: 20px;

         background: #E14321;
         color: #E7E7E7;
         font-weight: normal;
         font-family:'Inconsolata';
         font-size: .8em;

      }
      .mast li:hover {
         display: grid;
         background-color:#E14321;
         transition: 0.3s ease;
         text-align: center;
         font-size: .8em;
         margin: 0px;
      }

      .mast a:link{
        font-size: 14px;
        text-align: center;
        margin: 0px;
      }

      .mast a:visited{
        font-size: 14px;
        text-align: center;
        margin: 0px;
      }

      .mast a:hover{
        font-size: 14px;
        text-align: center;
        margin: 0px;
      }

      input[type=checkbox]:checked ~ .mast{
         display: block;
      }
      .icon {
         display: grid;
      }
      .dropdown {
         left: 50%;
         top: 30px;
         transform: translateX(35%);
         font-size: .8em;
      }

      p{
        margin-left: 7em;
        font-size: 14px;
        margin-top: 3px;
        margin-bottom: 7px;
        line-height: 1.3em;
      }

      .index p{
        margin-left: 3em;
        font-size: 14px;
        padding-left: 0px;
      }

      a:link{
        margin-left: 7em;
        font-size: 14px;
      }

      a:visited{
        margin-left: 7em;
        font-size: 14px;
      }

      a:hover{
        margin-left: 7em;
        font-size: 14px;
      }

      li{
        margin-left: 3em;
        font-size: 14px;
      }

      h1{
        margin-left: 1em;
      }

      .index h1{
        margin-left: 0em;
        margin-right: .25em;
        padding-left: 0px;
        font-size: 2.5em;
      }

      h2{
        margin-left: 2.3em;
      }

      .index h2{
        margin-left: 0em;
        padding-left: 0px;
        font-size: 2em;
      }

      h3{
        margin-left: 1em;
      }

      .vl-index {
        border-right: 3px #E14321 solid;
        padding-right: 35px;
        padding-left: 1px;
        margin-top: 40px;
        height:85vh;
        width: 85vw;
        vertical-align: baseline;
      }


      .vl-all {
        border-right: 3px #E14321 solid;
        padding-right: 35px;
        margin-top: 40px;
        height:85vh;
        width: 5vw;
        vertical-align: baseline;
      }

      .vl-proj {
        border-right: 3px #E14321 solid;
        padding-right: 5px;
        margin-top: 40px;
        height:130vh;
        width: 10vw;
        vertical-align: baseline;
        position: absolute;
        top: 90px;
        /* width: 33vw; */
      }


      .projBox {
        margin-left: 20vw;
        display: inline-block;
      }

      .proj{
        margin-bottom: 50px;
      }

      .proj img{
        width: 120px;
        display: inline-block;
        position: absolute;
      }

      .proj p{
        display: inline-block;
        margin-left: 0px;
        padding-left: 150px;
      }

      .projects h2{
        margin-bottom: 0px;
      }

      .pText p{
        text-align: left;
        width:350px;
        position: absolute;
      }

        .generateWrap{
          text-align: center;
          display: block;
          background-color: #424242;
          color: #E7E7E7;
          padding-bottom: 20px;
          padding-left: 20vw;
          padding-right: 20vw;
          margin-left: 10vw;
          margin-right: 10vw;
          border-radius: 30px;
        }
    }

  /*//////////////////////////////////////////////////////////////////////////*/

            @media screen and (min-width: 600px){

              body{
                margin: 0px
              }

                .mast{
                   display: flex;
                   align-items: center;
                   justify-content: space-between;
                   padding-top: 20px;
                   padding-bottom: 20px;

                   background: #E14321;
                   color: #E7E7E7;
                   font-weight: normal;
                   font-family:'Inconsolata';
                   font-size: 14px;
                   margin: 0px;

                }

                .mast li{
                  color: #E7E7E7;
                  list-style: none;
                }

                .mast a{
                  color: #E7E7E7;
                  text-decoration: none;
                }
            }
