
  @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inconsolata:wght@300;400;600&family=Roboto&display=swap');
  /*
  @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Unica+One&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Bungee+Hairline&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@100;300&family=Dosis:wght@200&family=Jost:wght@100&family=Montserrat:wght@100;200&family=Poiret+One&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Jost:wght@200;300&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Jost&display=swap');
  */
  @import url('https://fonts.googleapis.com/css2?family=Jost:wght@100;200;300;400&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300;400;600;700&display=swap');
  /* jost is good
  dosis eh
  big shoulders display no
  Montserrat good
  */

  *{
    margin:0;
    margin-left: 0px;
  }
  body{
    background-color: #E7E7E7;
    text-align: right;
    font-family: jost;
    font-weight: 100;
    color: #424242;
    margin: 0px;
    margin-left: 0px;
    /* padding: 40px; */
  }

  p{
    font-weight: normal;
    font-family:'Inconsolata';
    font-size: 12px;
  }

  h1{
    font-size: 48px;
    font-weight: 200;
    margin: 10px;
  }

  h2{
    font-size: 36px;
    font-weight: 200;
    margin: 5px;
  }

  h3{
    font-size: 24px;
    font-weight: 200;
  }

  h4{
    font-size: 18px;
    font-weight: 200;
  }

  h5{
    font-size: 16px;
    font-weight: 200;
  }

  h6{
    font-size: 14px;
    font-weight: 200;
  }

  ul{
    list-style-type: disc;
    font-size: 10px;
    list-style-position: inside;
    font-family:'Inconsolata';
  }

  ol{
    font-size: 10px;
    list-style-position: inside;
    font-family:'Inconsolata';
  }

  a:link{
    color: #E14321;
    font-weight:lighter;
    font-size: 12px;
    font-family:'Inconsolata';
  }

  a:visited{
    color: #E14321;
    font-weight:lighter;
    font-family:'Inconsolata';
  }

  a:hover{
    color: #E14321;
    font-weight: bold;
    font-family:'Inconsolata';
  }

  hr{
    font-weight: 400;
  }

  .vl {
    border-right: 3px #E14321 solid;
    padding-right: 35px;
    margin-top: 40px;
    height:80vh;
    width: 85vw;
    vertical-align: baseline;
    /* width: 33vw; */
  }

  .ba{
        position: absolute;
        bottom: 10vh;
        width: 85vw;
  }

  .mast {
   display: flex;
   gap: 1em;
   font-size: 18px;
   margin: 0px;
   margin-left: 0px;
   text-align: center;
  }

  .mast li {
   padding: 5px 14px;
   margin: 0px;
   text-align: center;
   list-style: none;
   color: #E7E7E7;
   margin-left: 0px;
  }

  .mast a{
    text-decoration: none;
    color: #E7E7E7;
    margin-left: 0px;
    font-weight: 400;
  }

  .mast a:hover{
    text-decoration: none;
    color: #E7E7E7;
    margin-left: 0px;
    font-weight: 900;
  }

  /* DROPDOWN MENU */
  .dropdown {
   background-color: #E14321;
   padding: 1em 0;
   position: absolute; /*WITH RESPECT TO PARENT*/
   display: none;
   border-radius: 8px;
   top: 35px;
   text-align: center;

  }
  .dropdown li {
   padding: 0.5em 1em;
   width: 8em;
   text-align: center;
  }

  /*RESPONSIVE NAVBAR MENU STARTS*/

  /* CHECKBOX HACK */
  input[type=checkbox]{
   display: none;
  }
  /*HAMBURGER MENU*/
  .icon {
     display: none;
     font-size: 24px;
     user-select: none;
     text-align: center;
     background-color: #E14321;
     color: #E7E7E7;
     padding: 10px;
     padding-top: 20px;
  }

  /*////////////////////////////////////////////////////////////////////////*/
  @media (max-width: 699px) {
      .mast {
         display: none;
         align-items: center;
         justify-content: space-between;
         padding-top: 20px;
         padding-bottom: 20px;

         background: #E14321;
         color: #E7E7E7;
         font-weight: normal;
         font-family:'Inconsolata';
         font-size: .8em;

      }
      .mast li:hover {
         display: inline-block;
         background-color:#E14321;
         transition: 0.3s ease;
         text-align: center;
         font-size: .8em;
      }

      .mast a{
        font-size: 14px;
      }

      input[type=checkbox]:checked ~ .mast{
         display: block;
      }
      .icon {
         display: block;
      }
      .dropdown {
         left: 50%;
         top: 30px;
         transform: translateX(35%);
         font-size: .8em;
      }

      p{
        margin-left: 3em;
        font-size: 14px;
      }

      a{
        margin-left: 3em;
        font-size: 14px;
      }

      li{
        margin-left: 3em;
        font-size: 14px;
      }

      h1{
        margin-left: 1em;
      }

      h2{
        margin-left: 1em;
      }

      h3{
        margin-left: 1em;
      }

      .vl {
        border-right: 3px #E14321 solid;
        padding-right: 35px;
        margin-top: 40px;
        height:85vh;
        width: 85vw;
        vertical-align: baseline;
        /* width: 33vw; */
      }

    }

  /*//////////////////////////////////////////////////////////////////////////*/

            @media screen and (min-width: 700px){

              body{
                margin: 0px
              }

                .mast{
                   display: flex;
                   align-items: center;
                   justify-content: space-between;
                   padding-top: 20px;
                   padding-bottom: 20px;

                   background: #E14321;
                   color: #E7E7E7;
                   font-weight: normal;
                   font-family:'Inconsolata';
                   font-size: 12px;
                   margin: 0px;

                }

                .mast li{
                  color: #E7E7E7;
                  list-style: none;
                }

                .mast a{
                  color: #E7E7E7;
                  text-decoration: none;
                }

                .about{}

                .home{}

                .contact{}

                .projects{}

                .space1{}

                .space2{}


            }
