
  body{
    background-color: #F2F2F2;
  }

  h1{
    font-family:futura;
    color: #595959;
  }

  h2{
    font-family:futura;
    color: #595959;
  }

  h3{
    font-family:futura;
    color: #595959;
  }

  ul{
    font-family:futura;
    color: #595959;
  }

  h4{
    font-family:futura;
    color: #595959;
    font-size: 16px;
    font-weight: lighter;
  }

  p{
    font-family:futura;
    color: #595959;
    font-weight: normal;
  }

  h5{
    font-family:futura;
    color: #595959;
    font-weight: lighter;
  }

  h6{
    font-family:futura;
    color: #595959;
    font-weight: lighter;
  }
