

@import url('https://fonts.googleapis.com/css2?family=Jost:wght@100;200;300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300;400;600;700&display=swap');

  /*  linear-gradient(#093761, #031220);
     #CED1D3 */
*{

}
body{
  background-color: #031220;
  font-family:Inconsolata;
  color: #CED1D3;
  margin:0px;
  padding:0px;
}

#gradient{
  background-image: linear-gradient(to bottom right, #093761, #06213B, #031220, #031220);
  height: 110vh;
  width: 100vw;
  margin:0px;
  padding:0px;
}

.container{
  text-align: center;
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 20px;
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 50px;
}

.grid-item {
  padding: 20px;
  font-size: 30px;
  text-align: center;
  font-size: 14px;
  vertical-align: bottom;
}

p{
  margin: 10px;
}

h2{
  margin: 30px;
  text-align: center;
}
