

@import url('https://fonts.googleapis.com/css2?family=Jost:wght@100;200;300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300;400;600;700&display=swap');


body{
  /*  linear-gradient(#093761, #031220);
     #CED1D3 */
  background-color: "#031220";
  font-family: Inconsolata;
  font-weight: 100;
  color: "#CED1D3";
}
